extends ../layouts/common.pug


block content
  .jumbotron
    h1.display-4 Create new user
    a.btn.btn-primary.btn-lg(href='/user', role='button') Back to user

  div.container
    if errors
      each error in errors
        div.alert.alert-danger= error
    form(action='/register', method='POST')
      .form-group
        label(for='username') User name
        input#username.form-control(class=value.username ? 'is-valid' : 'is-invalid', name='username', type='text', aria-describedby='userHelp', placeholder='Enter username', value= value ?value.username : "" required)
        small#userHelp.form-text.text-muted Need to login.
        div(class=value ? 'valid-feedback' : 'invalid-feedback') Looks good!
      .form-group
        label(for='email') Email address
        input#email.form-control(class=value.email ? 'is-valid' : 'is-invalid', name='email', type='email', aria-describedby='emailHelp', placeholder='Enter email', value= value? value.email : "")
        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
        div(class=value ? 'valid-feedback' : 'invalid-feedback') Looks good!
      .form-group
        label(for='birthday') Birthday
        input#birthday.form-control(name='birthday', type='date')
      .form-group
        label(for='birthday') Gender
        br
        input(type='radio', name='gender', value='male', checked)
        span Male
        br
        input(type='radio', name='gender', value='female')
        span Female
        br
        input(type='radio', name='gender', value='other')
        span Other
      .form-group
        label(for='password') Password
        input#password.form-control(class=value.password ? 'is-valid' : 'is-invalid', name='password', type='password', placeholder='Password', value= value? value.password : "" required)
        div(class=value ? 'valid-feedback' : 'invalid-feedback') Looks good!
      .form-group
        label(for='username') Full name
        input#username.form-control(name='fullname', type='text', aria-describedby='userHelp', placeholder='Enter fullname', required)
      .form-group
        label(for='avatar') Avatar
        .custom-file
          input#avatar.custom-form-control(type='text', name='avatar', placeholder='Url avatar')
          //label.custom-file-label(for='avatar') Choose file
      input.btn.btn-primary(type='submit', value='Submit')